# Dependency directories
node_modules/

# Environment variables
.env

# IDE/Text editor files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Build files
/build
/dist

# Dependency directory
/.pnp
.pnp.js
.vercel
